<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MinecraftManagerUI.Properties.Settings.dbparcial2ConnectionString"
            connectionString="Data Source=DESKTOP-G1DEPQ9\SQLEXPRESS;Initial Catalog=dbparcial2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>